<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div id="app" class="container">
    <nav class="navbar navbar-light bg-light fixed-top p-0">
      <div class="navbar-text ml-auto p-2">
        <b>Cart: </b>
        <span class="badge badge-pill badge-success">{{ cart.length }}</span>
      </div>
    </nav>
    <div class="form-inline mr-auto mt-5">
      <label for="maxText" class="font-weight-bold mr-2">Max</label>
      <input id="maxText" type="text" class="form-control w-25" v-model="maximum">
    </div>
    <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
    <div 
      class="row d-flex mb-3 align-items-center"
      v-for="item in products"
      v-if="parseInt(item.price) <= maximum"
    >
      <div class="btn btn-info" v-on:click="addItem(item)">+</div>
      <div class="col-sm-4">
        <img 
          v-bind="{
            class: item.imageClass,
            src: item.image,
            alt: item.name,
          }"
        >
      </div>
      <div class="col">
        <h3 class="text-info">{{ item.name }}</h3>
        <p class="mb-0">{{ item.description }}</p>
        <div class="h5 float-right">${{ item.price }}</div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        maximum: 75,
        products: null,
        cart: [],
      },
      methods: {
        addItem: function(product) {
          this.cart.push(product);
        }
      },
      mounted: function() {
          fetch('https://hplussport.com/api/products/order/price')
          .then(response => response.json())
          .then(data => {
            data.forEach(element => {
              element.imageClass = 'img-fluid';
            });
            console.log(data);
            this.products = data;
          });
        },
    })
  </script>
</body>
</html>