<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/9c8a91e546.js" crossorigin="anonymous"></script>
  <title>Document</title>
  <style>
    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: all 1s ease-in-out;
    }
  </style>
</head>
<body>
  <div id="app" class="container">
    <nav class="navbar navbar-light fixed-top p-0">
      <div class="navbar-text ml-auto p-2 d-flex">
        <button class="btn btn-sm btn-outline-success" @click="sliderStatus = !sliderStatus">
          <i class="fas fa-dollar-sign"></i>
        </button>
        <div class="ml-2" v-if="cart.length > 0">
          <b>Cart: </b>
          <span class="badge badge-pill badge-success">{{ cart.length }}</span>
        </div>
      </div>
    </nav>
    
    <h1 class="mt-5">Tim's Vue Store</h1>
    
    <transition name="fade">
      <div v-if="sliderStatus">
        <div :class="maxPriceClasses + ' ' + sliderState">
          <label for="maxText" class="font-weight-bold">Max:</label>
          <input id="maxText" type="number" class="form-control mx-2" :style="numberInputClasses" v-model="maximum">
          <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
        </div>
      </div>
    </transition>

    <transition-group name="fade" tag="div">
      <div
        class="row d-flex mb-3 align-items-center"
        v-for="item in products"
        :key="item.id"
        v-if="parseInt(item.price) <= maximum"
      >
        <div class="btn btn-info" v-on:click="addItem(item)">+</div>
        <div class="col-sm-4">
          <img 
            v-bind="{
              class: item.imageClass,
              src: item.image,
              alt: item.name,
            }"
          >
        </div>
        <div class="col">
          <h3 class="text-info">{{ item.name }}</h3>
          <p class="mb-0">{{ item.description }}</p>
          <div class="h5 float-right">${{ item.price }}</div>
        </div>
      </div>
    </transition-group>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        maximum: 75,
        products: null,
        cart: [],
        maxPriceClasses: 'align-items-center green-text',
        numberInputClasses: {
          width: '100px',
          'text-align': 'center',
        },
        sliderStatus: false,
      },
      methods: {
        addItem: function(product) {
          this.cart.push(product);
        }
      },
      mounted: function() {
          fetch('https://hplussport.com/api/products/order/price')
          .then(response => response.json())
          .then(data => {
            data.forEach(element => {
              element.imageClass = 'img-fluid';
            });
            console.log(data);
            this.products = data;
          });
        },
      computed: {
        sliderState: function() {
          return this.sliderStatus ? 'd-flex' : 'd-none';
        },
      }
    });
  </script>
</body>
</html>